/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fondo de pantalla en gris oscuro */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212; /* Gris oscuro */
    font-family: Arial, sans-serif;
    color: #7e7e7e; /* Gris claro para el texto */
  }

  svg{
    margin-bottom: 25px;
    width: 100px;
    height: 100px;
    scale: 1.5;
    fill: #ff1a1a;
    opacity: 0.5;
  }
  
  /* Contenedor centrado */
  .blocked-container {
    text-align: center;
    padding: 30px;
    border-radius: 8px;
  }
  
  /* Encabezado */
  .blocked-container h1 {
    font-size: 3em;
    margin-bottom: 15px;
  }
  
  /* Mensaje */
  .blocked-container p {
    font-size: 1.2em;
  }
  